
.title-box {
	position: absolute;
	top: 0px;
	float: left;
}
.line {
	position: absolute;
	top: 60px;
	float: left;
}
.textInput-board{
		position: absolute;
		top: 70px;
		float: left;
	}
	.textInput{
		width: 235px;
		height: 20px;
		border: 0px;
		border-radius: 30px;
	}
	.input{
		width: 80px;
		height: 25px;
		border: 0px;
		border-radius: 10px;
    color:white;
		background:#5b6b8d;
		font-size:18px;
	}
	.textInput-button{
		position: absolute;
		top: 147px;
		float: left;
		left: 170px;
	}
	.text-control{
		position: absolute;
		top: 170px;
		float: left;
	}
	.fontOne{
		width: 70px;
		height: 30px;
		border: 0px;
		border-radius: 10px;
    color:white;
		background:#5b6b8d;
		font-size:20px;
	}
  .colorButton{
		width: 25px;
		height: 25px;
		border: 0px;
		border-radius: 5px;
	}
	.myVid {
		position: absolute;
		top: 130px;
		left: 270px;
		float: left;
	}
	/* .effect {
		position: absolute;
		top: 130px;
		left: 270px;
		float: left;
	} */
	.square{
		position: absolute;
		top: 130px;
		left: 270px;
		height: 520px;
		width: 520px;
		background-color: black;
	}
	.myCanvas {
		position: absolute;
    top: 130px;
		left: 270px;
		float: left;
	}
	/* .myCanvas2 {
		position: absolute;
    top: 130px;
		left: 270px;
		float: left;
	} */
	.effect {
		position: absolute;
		top: 130px;
		left: 270px;
		float: left;
	}

	.circle{
		position: absolute;
		top: 130px;
		left: 270px;
	}
	.buttons{
		position: absolute;
		top: 40px;
	}
	.videoButton{
		width: 100px;
		height: 30px;
		border: 0px;
		border-radius: 10px;
    color:white;
		background:#6b3948;
		font-size:20px;
	}
	.video-control{
		position: absolute;
		top: 670px;
		float: left;
		left: 37px;
	}
	.slider{
		-webkit-appearance: none;
	height: 30px;
	width: 240px;
  background: #5b6b8d;
  outline: none;
  opacity: 0.7;
	cursor: pointer;
	}
	.slider::-webkit-slider-thumb {
	  -webkit-appearance: none;
	  width: 30px;
	  height: 30px;
		background: #d3d3d3;
	}
